<div class="order-view">
  <div class="order">
    <div class="order-header">
      <span class="order-header-title">Tạo đơn hàng</span>
    </div>
    <div class="order-form">
      <div>
        <div class="order-form-detail">
          <span class="order-form-title">Thông tin khách hàng</span>
          <div class="customer-info">
            <input type="text" class="form-control" name="" placeholder="Tên khách hàng">
            <input type="text" class="form-control" name="" placeholder="Số điện thoại">
            <select class="form-control" name="">
              <option hidden disabled selected>Tỉnh thành phố</option>
              <option value="id">id</option>
            </select>
            <select class="form-control" name="">
              <option hidden disabled selected>Tỉnh thành phố</option>
              <option value="id">id</option>
            </select>
            <select class="form-control" name="">
              <option hidden disabled selected>Tỉnh thành phố</option>
              <option value="id">id</option>
            </select>
            <input type="text" class="form-control" name="" placeholder="Địa chỉ chi tiết">
          </div>
        </div>
        <div class="order-form-detail">
          <span class="order-form-title">Thông tin sản phẩm</span>
          <div class="product-info">
            <table>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
