<div class="box box-default">
  <div class="box-header">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="searchForm" (ngSubmit)="load()" class="row" novalidate>
          <div [ngClass]="f['class']" *ngFor="let f of searchControls"
            [ngClass]="{'has-error':!searchForm.controls[f.formControl].valid}">
            <div class="form-group">
              <ng-template [ngIf]="f.type=='input'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <input [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                  class="form-control" [placeholder]="f.placeHolder" [type]="f.typeof">
              </ng-template>
              <ng-template [ngIf]="f.type=='textarea'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <textarea [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                  class="form-control" [placeholder]="f.placeHolder" [rows]="f.config['rows']">
                </textarea>
              </ng-template>
              <ng-template [ngIf]="f.type=='select'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <select [id]="f.formControl" [formControlName]="f.formControl" class="form-control">
                  <option *ngFor="let option of f.data" [value]="option[f.config['primaryKey']]">
                    {{option[f.config['labelKey']]}}</option>
                </select>
              </ng-template>
              <ng-template [ngIf]="f.type=='select2'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <angular2-multiselect [id]="f.formControl" [formControlName]="f.formControl" [data]="f.data"
                  [settings]="f.config">
                </angular2-multiselect>
              </ng-template>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-default margin-r-5" type="submit" [disabled]="!searchForm.valid">
                Tìm kiếm
              </button>
              <button class="btn btn-default" type="button" (click)="removeFilter()">
                Xóa lọc
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="box-body no-padding">
    <table class="table-responsive table table-bordered table-hover">
      <thead>
        <tr>
          <th style="text-align:center">#</th>
          <th style="text-align:center" style="width:200px">Ảnh SP</th>
          <th style="text-align:center">Sản phẩm</th>
          <th style="text-align:center">Số lượng</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd" *ngFor="let item of list;let i = index">
          <td>{{i + 1 + pagination.itemsPerPage * (pagination.currentPage - 1)}}</td>
          <td style="max-width: 150px;text-align:center">
            <img [width]="120" [src]="item.image" [alt]="item.name" class="img-thumbnail img-responsive">
          </td>
          <td style="max-width: 150px">
            <p>
              <label class="label label-default">{{item.code}}</label>
            </p>
            <p>
              <label>{{item.name}}</label>
            </p>
            <p><span>{{item.sale_price|number:'1.0-0'}}đ</span></p>
          </td>
          <td>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Mã SP</th>
                  <th>Size</th>
                  <th>Thực tế</th>
                  <th>Cần giữ</th>
                  <th>Còn lại</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let iv of item.inventories;let j=index">
                  <td>{{item.code}}</td>
                  <td style="max-width: 50px">{{iv.variant.name}}</td>
                  <td style="max-width: 50px" class="text-right">{{iv.quantity}}</td>
                  <td style="max-width: 50px" class="text-right">{{iv.used_quantity}}</td>
                  <td style="max-width: 50px" class="text-right">
                    <label class="label"
                      [ngClass]="{'label-danger':iv.available_quantity<=0,'label-success':iv.available_quantity>0}">
                      {{iv.available_quantity}}
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
          [maxSize]="pagination.maxSize" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
          [boundaryLinks]="true" class="pagination-sm" (numPages)="pagination.numPages = $event"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input type="number" class="col-xs-2" [(ngModel)]="nextPage">
          <span class="col-xs-1">/</span>
          <input type="text" class="col-xs-2" [(ngModel)]="pagination.numPages" disabled>
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>