<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Gắn thẻ tag</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="formGroup" novalidate>
        <div class="form-group">
          <label for="tags">
            Thẻ tag
            <span [hidden]="formGroup.controls['ids'].valid" class="alert-text"> </span>
          </label>
          <ng-select #tagsSelector labelForId="tags" (change)="onTagsChange($event)"
                     [items]="tags|async" bindLabel="name" bindValue="id" [multiple]="true"
                     placeholder="Chọn tag">
          </ng-select>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="assign()">Gắn thẻ</button>
  <button type="button" class="btn btn-default" (click)="dismiss()">Hủy bỏ</button>
</div>
