<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Chỉnh sửa</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="formGroup" novalidate>
        <div class="form-group">
          <label for="name">
            Tên
            <span [hidden]="formGroup.controls['name'].valid" class="alert-text"> *</span>
          </label>
          <input id="name" name="name" formControlName="name" class="form-control" placeholder="Tên" type="text"
                 autofocus>
        </div>
        <div class="form-group">
          <label for="phone">
            Số điện thoại
            <span [hidden]="formGroup.controls['phone'].valid" class="alert-text"> *</span>
          </label>
          <input id="phone" name="phone" formControlName="phone" class="form-control" placeholder="Tên đăng nhập"
                 type="text">
        </div>
        <div class="form-group">
          <label for="email">
            Địa chỉ email
            <span [hidden]="formGroup.controls['email'].valid" class="alert-text"> *</span>
          </label>
          <input id="email" name="email" formControlName="email" class="form-control" placeholder="Tên đăng nhập"
                 type="text">
        </div>
        <div class="form-group">
          <label for="description">
            Mô tả
            <span [hidden]="formGroup.controls['description'].valid" class="alert-text"> *</span>
          </label>
          <textarea rows="3" id="description" name="description" formControlName="description" class="form-control"
                    placeholder="Mô tả"
                    type="text">
            </textarea>
        </div>
        <input type="checkbox" formControlName="reset_pass">Reset mật khẩu
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!formGroup.valid" (click)="edit()">Sửa</button>
  <button type="button" class="btn btn-default" (click)="dismiss()">Hủy bỏ</button>
</div>
