<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Tạo mới</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <!-- <div class="col-xs-12 margin-bottom">
      <form [formGroup]="formSearchPost" (ngSubmit)="searchRole()">
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" formControlName="search" placeholder="Nhập tên tìm kiếm">
        </div>
        <div class="col-xs-6">
          <button class="btn btn-default" type="submit">
            Tìm kiếm
          </button>
        </div>
      </form>
    </div> -->
    <div class="col-xs-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="width:6%;">#</th>
            <th>Role</th>
            <th style="width:20%;">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd" *ngFor="let r of roles;let i = index">
            <td>{{i + 1}}</td>
            <td>{{r.name}}</td>
            <td><button type="submit" class="btn btn-success btn-sm" (click)=" createRole(r) "><i
                  class="fa fa-plus"> Thêm</i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="dismiss()">Hủy bỏ</button>
</div>