<div class="box box-default">
  <div class="box-header">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="searchForm" (ngSubmit)="load()" class="row" novalidate>
          <div [ngClass]="f['class']" *ngFor="let f of searchControls" [ngClass]="{'has-error':!searchForm.controls[f.formControl].valid}">
            <div class="form-group">
              <ng-template [ngIf]="f.type=='input'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <input [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                       class="form-control"
                       [placeholder]="f.placeHolder" [type]="f.typeof">
              </ng-template>
              <ng-template [ngIf]="f.type=='textarea'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <textarea [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                          class="form-control"
                          [placeholder]="f.placeHolder" [rows]="f.config['rows']">
                </textarea>
              </ng-template>
              <ng-template [ngIf]="f.type=='select'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <select [id]="f.formControl" [formControlName]="f.formControl" class="form-control">
                  <option *ngFor="let option of f.data"
                          [value]="option[f.config['primaryKey']]">{{option[f.config['labelKey']]}}</option>
                </select>
              </ng-template>
              <ng-template [ngIf]="f.type=='select2'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <angular2-multiselect [id]="f.formControl" [formControlName]="f.formControl"
                                      [data]="f.data" [settings]="f.config">
                </angular2-multiselect>
              </ng-template>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-default margin-r-5" type="submit" [disabled]="!searchForm.valid">
                Tìm kiếm
              </button>
              <button class="btn btn-default" type="button" (click)="removeFilter()">
                Xóa lọc
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="box-body no-padding">
    <table class="table-responsive table table-bordered table-hover">
      <thead>
      <tr>
        <th style="width: 5%;text-align: center;">#</th>
        <th style="width: 8%;">Thời gian</th>
        <th style="width: 15%;">Khách hàng</th>
        <th style="width: 37%;">Đơn hàng</th>
        <th style="width: 8%;">Trạng thái</th>
        <th style="width: 8%;">Thanh toán</th>
        <th style="width: 10%;text-align: center;">Ghi chú</th>
        <th style="width: 8%;text-align: center;">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr class="odd" *ngFor="let item of list;let i = index">
        <td>
          <p>{{i + 1 + pagination.itemsPerPage * (pagination.currentPage - 1)}}</p>
        </td>
        <td>
          <div style="max-width: 150px">
            <p style="margin-bottom: 5px;">{{item.created_at|amDateFormat: 'YYYY-MM-DD'}}</p>
            <p>{{item.created_at|amDateFormat: 'HH:mm:ss'}}</p>
          </div>
        </td>
        <td>
          <div style="max-width: 200px">
            <p>{{item.customer_name}}</p>
            <p>{{item.customer_phone}}</p>
            <p>{{item.customer_address}}</p>
            <p>{{item.ward.name}}, {{item.district.name}},{{item.province.name}}</p>
          </div>
        </td>
        <td>
          <table class="table-responsive table table-bordered">
            <tr>
              <th>Mã SP</th>
              <th>Size</th>
              <th>Đơn giá</th>
              <th>Số lượng</th>
              <th>Thành tiền</th>
            </tr>
            <tbody>
            <tr *ngFor="let d of item.order_details">
              <td>{{d.product?.code}}</td>
              <td>{{d.variant ? d.variant.name : ''}}</td>
              <td class="text-right">{{d.price|number:'1.0-0'}}</td>
              <td class="text-right">{{d.quantity|number:'1.0-0'}}</td>
              <td class="text-right">{{(d.quantity * d.price)|number:'1.0-0'}}</td>
            </tr>
            <tr>
              <th colspan="4" class="text-right">Thành tiền</th>
              <td class="text-right">{{item.amount|number:'1.0-0'}}</td>
            </tr>
            <tr>
              <th colspan="4" class="text-right">Phí ship</th>
              <td class="text-right">{{item.shipping_fee|number:'1.0-0'}}</td>
            </tr>
            <tr>
              <th colspan="4" class="text-right">Tổng tiền</th>
              <td class="text-right">{{item.total_amount|number:'1.0-0'}}</td>
            </tr>
            </tbody>
          </table>
        </td>
        <td class="text-center">
          <p>
            <label class="label label-default" *ngIf="item.order_status=='PENDING'">Lên đơn</label>
            <label class="label label-default" *ngIf="item.order_status=='Hủy đơn'">Hủy đơn</label>
          </p>
        </td>
        <td class="text-center">
          <p><label class="label label-default">{{item.payment_type}}</label></p>
        </td>
        <td>
          <p *ngIf="item.request">
            <label>
              <textarea style="max-width: 95px;" [rows]="4" [cols]="10" readonly [value]="item.request"></textarea>
            </label>
          </p>
          <p *ngIf="item.note">
            <label>
              <textarea style="max-width: 95px;"  [rows]="4" [cols]="10" readonly [value]="item.note"></textarea>
            </label>
          </p>
        </td>
        <td>
          <div *ngIf="item.order_status=='PENDING'">
            <button type="button" title="Xác thực đơn hàng" class="btn btn-success btn-sm" (click)="verify(item,i)">
              <i class="fa fa-check-circle"></i>
            </button>
            <button type="button" title="Hủy đơn hàng" class="btn btn-danger btn-sm" mwlConfirmationPopover
                    popoverTitle="Hủy đơn hàng"
                    popoverMessage="Bạn thực sự muốn hủy đơn hàng?"
                    placement="top" confirmText="Yes <i class='fa fa-check'></i>"
                    cancelText="No <i class='fa fa-remove'></i>" (confirm)="cancel(item,i)">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
                    [maxSize]="pagination.maxSize" [itemsPerPage]="pagination.itemsPerPage"
                    (pageChanged)="pageChanged($event)" [boundaryLinks]="true" class="pagination-sm"
                    (numPages)="pagination.numPages = $event"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input type="number" class="col-xs-2" [(ngModel)]="nextPage">
          <span class="col-xs-1">/</span>
          <input type="text" class="col-xs-2" [(ngModel)]="pagination.numPages" disabled>
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


