<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Tạo mới</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12 margin-bottom">
      <form [formGroup]="formSearchProduct" (ngSubmit)="searchProduct()">
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" formControlName="search" placeholder="Nhập tên sản phẩm">
        </div>
        <div class="col-xs-6">
          <button class="btn btn-default" type="submit">
            Tìm kiếm
          </button>
        </div>
      </form>
    </div>
    <div class="col-xs-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="width:7%">#</th>
            <th style="width:43%">Sản phẩm</th>
            <th style="width:40%">Code</th>
            <th style="width: 10%">Thao tác</th>
          </tr>
        </thead>
        <tbody>

          <tr class="odd" *ngFor="let p of products;let i = index">
            <td>{{ i + 1}}</td>
            <td>{{ p.name}}</td>
            <td>{{ p.code}}</td>
            <td><button type="submit" class="btn btn-success btn-sm" (click)=" createProduct(p) "><i
                  class="fa fa-plus">Thêm</i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="dismiss()">Hủy bỏ</button>
</div>