<div class="box box-default">
  <div class="box-header">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="searchForm" (ngSubmit)="load()" class="row" novalidate>
          <div [ngClass]="f['class']" *ngFor="let f of searchControls"
            [ngClass]="{'has-error':!searchForm.controls[f.formControl].valid}">
            <div class="form-group">
              <ng-template [ngIf]="f.type=='input'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <input [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                  class="form-control" [placeholder]="f.placeHolder" [type]="f.typeof">
              </ng-template>
              <ng-template [ngIf]="f.type=='textarea'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <textarea [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                  class="form-control" [placeholder]="f.placeHolder" [rows]="f.config['rows']">
                </textarea>
              </ng-template>
              <ng-template [ngIf]="f.type=='select'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <select [id]="f.formControl" [formControlName]="f.formControl" class="form-control">
                  <option *ngFor="let option of f.data" [value]="option[f.config['primaryKey']]">
                    {{option[f.config['labelKey']]}}</option>
                </select>
              </ng-template>
              <ng-template [ngIf]="f.type=='select2'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <angular2-multiselect [id]="f.formControl" [formControlName]="f.formControl" [data]="f.data"
                  [settings]="f.config">
                </angular2-multiselect>
              </ng-template>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-default margin-r-5" type="submit" [disabled]="!searchForm.valid">
                Tìm kiếm
              </button>
              <button class="btn btn-default" type="button" (click)="removeFilter()">
                Xóa lọc
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-12">
        <button type="button" title="Tạo mới" class="btn btn-primary pull-right" (click)="createOrder()">
          <i class="fa fa-plus"></i> Thêm mới
        </button>
      </div>
    </div>
  </div>
  <div class="box-body no-padding">
    <table class="table-responsive table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 5%;;text-align: center;">#</th>
          <th style="width: 8%;">Kênh</th>
          <th style="width: 15%;">Khách hàng</th>
          <th style="width: 35%;">Đơn hàng</th>
          <th style="width: 8%;">Trạng thái</th>
          <th style="width: 9%;">Thanh toán</th>
          <th style="width: 10%;text-align: center;">Ghi chú</th>
          <th style="text-align: center;">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd" *ngFor="let item of list;let i = index">
          <td>
            <p>{{i + 1 + pagination.itemsPerPage * (pagination.currentPage - 1)}}</p>

          </td>
          <td>
            <div style="max-width: 150px">
              <p style="margin-bottom: 5px;">{{item.created_at|amDateFormat: 'YYYY-MM-DD'}}</p>
              <p>{{item.created_at|amDateFormat: 'HH:mm:ss'}}</p>
            </div>
            <p><label class="label label-default">{{item.channel}}</label></p>
          </td>
          <td>
            <label>
              <textarea [rows]="5" [cols]="16" style="max-width:140px;min-height:225px" readonly
                [value]="item.customer_text"></textarea>
            </label>
          </td>
          <td>
            <table class="table-responsive table table-bordered">
              <thead>
                <tr>
                  <th>Mã SP</th>
                  <th>Size</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of item.details">
                  <td>{{d.product_code}}</td>
                  <td>{{d.variant ? d.variant.name : ''}}</td>
                  <td class="text-right">{{d.unit_price|number:'1.0-0'}}</td>
                  <td class="text-right">{{d.quantity|number:'1.0-0'}}</td>
                  <td class="text-right">{{(d.quantity * d.unit_price)|number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <th colspan="4" class="text-right">Thành tiền</th>
                  <td class="text-right">{{item.amount|number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <th colspan="4" class="text-right">Phí ship</th>
                  <td class="text-right">{{item.ship_fee|number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <th colspan="4" class="text-right">Tổng tiền</th>
                  <td class="text-right">{{item.total_amount|number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <th colspan="4" class="text-right">Phí CoD</th>
                  <td class="text-right">{{item.cod_fee|number:'1.0-0'}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <p><label class="label label-default">{{item.status}}</label></p>
            <p><label style="font-size: 13px;">{{item.updated_at|amParse|amTimeAgo}}</label></p>
            <p *ngIf="item.shipping"><label class="label label-warning">{{item.shipping.status}}</label></p>
            <p *ngIf="item.shipping">Mã {{item.shipping.code}}
              <button class="btn btn-default btn-group-xs" (click)="infoShipping(item.shipping)"><i
                  class="fa fa-info-circle"></i></button>
            </p>
          </td>
          <td>
            <label class="label label-default">{{item.payment ? item.payment.name : ''}}</label>
          </td>
          <td>
            <label>
              <textarea [rows]="5" style="max-width: 90px;" [cols]="10" readonly [value]="item.note"
                *ngIf="item.note"></textarea>
            </label>
          </td>
          <td style="min-width: 120px">

            <!-- Lưu nháp -->
            <div *ngIf="item.status=='Lưu nháp'">
              <button type="button" title="Xác thực đơn hàng" class="btn btn-success btn-sm" (click)="draftverify(item,i)">
                <i class="fa fa-check-circle"></i>
              </button>
              <button type="button" title="Sửa đơn hàng" class="btn btn-default btn-sm" (click)="draftedit(item,i)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" title="Hủy đơn hàng" class="btn btn-danger btn-sm" mwlConfirmationPopover
                popoverTitle="Hủy đơn hàng" popoverMessage="Bạn thực sự muốn hủy đơn hàng?" placement="top"
                confirmText="Yes <i class='fa fa-check'></i>" cancelText="No <i class='fa fa-remove'></i>"
                (confirm)="cancel(item,i)">
                <i class="fa fa-remove"></i>
              </button>
            </div>

            <!-- Lên đơn -->
            <div *ngIf="item.status=='Lên đơn'">
              <button type="button" title="Sửa đơn hàng" class="btn btn-default btn-sm" (click)="editOrder(item,i)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" title="Xác thực đơn hàng" class="btn btn-success btn-sm" (click)="verify(item,i)">
                <i class="fa fa-check-circle"></i>
              </button>
              <button type="button" title="Hủy đơn hàng" class="btn btn-danger btn-sm" mwlConfirmationPopover
                popoverTitle="Hủy đơn hàng" popoverMessage="Bạn thực sự muốn hủy đơn hàng?" placement="top"
                confirmText="Yes <i class='fa fa-check'></i>" cancelText="No <i class='fa fa-remove'></i>"
                (confirm)="cancel(item,i)">
                <i class="fa fa-remove"></i>
              </button>
            </div>

            <!-- Xác thực -->
            <div *ngIf="item.status=='Xác nhận'">
              <button type="button" title="Sửa đơn hàng" class="btn btn-default btn-sm" (click)="editOrder(item,i)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" title="Hủy đơn hàng" class="btn btn-danger btn-sm" mwlConfirmationPopover
                popoverTitle="Hủy đơn hàng" popoverMessage="Bạn thực sự muốn hủy đơn hàng?" placement="top"
                confirmText="Yes <i class='fa fa-check'></i>" cancelText="No <i class='fa fa-remove'></i>"
                (confirm)="cancel(item,i)">
                <i class="fa fa-remove"></i>
              </button>
            </div>

            <!-- Chuẩn bị hàng, chờ hàng
          <div *ngIf="item.status=='Chuẩn bị hàng'||item.status=='Chờ hàng'">
            <button type="button" title="Sửa đơn hàng" class="btn btn-default btn-sm" (click)="editOrder(item,i)">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" title="Hủy đơn hàng" class="btn btn-danger btn-sm" mwlConfirmationPopover
                    popoverTitle="Hủy đơn hàng"
                    popoverMessage="Bạn thực sự muốn hủy đơn hàng?"
                    placement="top" confirmText="Yes <i class='fa fa-check'></i>"
                    cancelText="No <i class='fa fa-remove'></i>" (confirm)="cancel(item,i)">
              <i class="fa fa-remove"></i>
            </button>
          </div> -->

            <!-- Cập nhập lại
          <div *ngIf="item.status=='Cập nhập lại'">
            <button type="button" title="Sửa đơn hàng" class="btn btn-default btn-sm" (click)="edit(item,i)">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" title="Xác thực đơn hàng" class="btn btn-success btn-sm" mwlConfirmationPopover
                    popoverTitle="Xác nhận đơn hàng"
                    popoverMessage="Xác nhận đơn hàng?"
                    placement="top" confirmText="Yes <i class='fa fa-check'></i>"
                    cancelText="No <i class='fa fa-remove'></i>" (confirm)="verify(item,i)">
              <i class="fa fa-check-circle"></i>
            </button>
            <button type="button" title="Hủy đơn hàng" class="btn btn-danger btn-sm" mwlConfirmationPopover
                    popoverTitle="Hủy đơn hàng"
                    popoverMessage="Bạn thực sự muốn hủy đơn hàng?"
                    placement="top" confirmText="Yes <i class='fa fa-check'></i>"
                    cancelText="No <i class='fa fa-remove'></i>" (confirm)="cancel(item,i)">
              <i class="fa fa-remove"></i>
            </button>
          </div> -->

            <!-- Đã giao
          <div *ngIf="item.status=='Đã giao'">
            <button type="button" title="Khiếu nại" class="btn btn-danger btn-sm" (click)="complain(item,i)">
              <i class="fa fa-exclamation"></i>
            </button>
          </div> -->

            <!-- Khiếu nại
          <div *ngIf="item.status=='Khiếu nại'">
            <button type="button" title="Đổi hàng" class="btn btn-success btn-sm" (click)="swap(item,i)">
              <i class="fa fa-exchange"></i>
            </button>
            <button type="button" title="Hoàn hàng" class="btn btn-danger btn-sm" (click)="refund(item,i)">
              <i class="fa fa-truck"></i>
            </button>
          </div> -->

            <!-- Đã nhận hoàn
          <div *ngIf="item.status=='Đã nhận hoàn'">
            <button type="button" title="Hoàn thành" class="btn btn-success btn-sm" (click)="complete(item,i)">
              <i class="fa fa-check"></i>
            </button>
            <button type="button" title="Hoàn tiền" class="btn btn-danger btn-sm" (click)="refundAmount(item,i)">
              <i class="fa fa-money"></i>
            </button>
          </div> -->

            <!-- Đã nhận đổi
          <div *ngIf="item.status=='Đã nhận đổi'">
            <button type="button" title="Thực hiện đổi hàng" class="btn btn-warning btn-sm"
                    (click)="createSwappingOrder(item,i)">
              <i class="fa fa-exchange"></i>
            </button>
            <button type="button" title="Hoàn tiền" class="btn btn-danger btn-sm" (click)="refundAmount(item,i)">
              <i class="fa fa-money"></i>
            </button>
          </div> -->

            <!-- Hủy đơn
            <div *ngIf="item.status=='Hủy đơn'">
              <button type="button" title="Hoàn thành" class="btn btn-success btn-sm" (click)="complete(item,i)">
                <i class="fa fa-check"></i>
              </button>
              <button type="button" title="Tạo hàng lại" class="btn btn-default btn-sm"
                    (click)="recreate(item,i)">
              <i class="fa fa-refresh"></i>
            </button>
            <button type="button" title="Hoàn tiền" class="btn btn-danger btn-sm" (click)="refundAmount(item,i)">
              <i class="fa fa-money"></i>
            </button>
            </div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
          [maxSize]="pagination.maxSize" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
          [boundaryLinks]="true" class="pagination-sm" (numPages)="pagination.numPages = $event"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input type="number" class="col-xs-2" [(ngModel)]="nextPage">
          <span class="col-xs-1">/</span>
          <input type="text" class="col-xs-2" [(ngModel)]="pagination.numPages" disabled>
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>