<div class="panel panel-default">
  <div class="modal-header bg-primary">
    <h4 class="modal-title pull-left">Danh sách biến thể</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" title="Tạo mới" class="btn btn-primary pull-right" (click)="createInventory()">Thêm mới
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table-responsive table table-bordered table-hover">
      <thead>
        <tr>
          <th style="text-align:center">Mã SP</th>
          <th style="text-align:center">Tên biến thể</th>
          <th style="text-align:center">Thực tế</th>
          <th style="text-align:center">Cần giữ</th>
          <th style="text-align:center">Còn lại</th>
          <th style="text-align:center">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list;let j=index">
          <td class="text-center">{{item.product_code}}</td>
          <td style="max-width: 50px" class="text-center">{{item.variant.name}}</td>
          <td style="max-width: 50px" class="text-right">{{item.quantity}}</td>
          <td style="max-width: 50px" class="text-right">{{item.used_quantity}}</td>
              <td style="max-width: 50px" class="text-right">
                <label class="label"
                       [ngClass]="{'label-danger':item.available_quantity<=0,'label-success':item.available_quantity>0}">
                  {{item.available_quantity}}
                </label>
              </td>
          <td style="text-align: center;width: 150px">
            <button type="button" class="btn btn-default btn-sm" (click)="printBarcode(item,i)" title="In Barcode">
              <i class="fa fa-barcode"></i>
            </button>
            <button type="button" class="btn btn-info btn-sm" (click)="editInventory(item,i)"
              title="Sửa số lượng hàng">
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" mwlConfirmationPopover
              popoverTitle="Xóa" popoverMessage="Bạn thực sự muốn chuyển xóa?"
              title="Xóa" placement="top" confirmText="Yes <i class='fa fa-check'></i>"
              cancelText="No <i class='fa fa-remove'></i>" (confirm)="remove(item,i)">
              <i class="fa fa-remove"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="dismiss()">Đóng</button>
  </div>
</div>