<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="searchForm" (ngSubmit)="load()">
          <div class="form-group col-md-6" *ngFor="let f of searchControls">
            <ng-template [ngIf]="f.type=='input'">
              <label [for]="f.formControl">
                {{f.label}}
              </label>
              <input [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                     class="form-control"
                     [placeholder]="f.placeHolder" [type]="f.typeof">
            </ng-template>
            <ng-template [ngIf]="f.type=='textarea'">
              <label [for]="f.formControl">
                {{f.label}}
              </label>
              <textarea [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                        class="form-control"
                        [placeholder]="f.placeHolder">
          </textarea>
            </ng-template>
            <ng-template [ngIf]="f.type=='checkbox'">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [id]="f.formControl" [name]="f.formControl"
                         [formControlName]="f.formControl">
                  {{f.label}}
                </label>
              </div>
            </ng-template>
            <ng-template [ngIf]="f.type=='select'">
              <label [for]="f.formControl">
                {{f.label}}
              </label>
              <select [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                      class="form-control">
                <option *ngFor="let option of f.data" [value]="option['value']">{{option['name']}}</option>
              </select>
            </ng-template>
            <ng-template [ngIf]="f.type=='select2'">
              <label [for]="f.formControl">
                {{f.label}}
              </label>
              <angular2-multiselect [id]="f.formControl" [formControlName]="f.formControl"
                                    [data]="f.data" [settings]="f.config">
              </angular2-multiselect>
            </ng-template>
          </div>
          <div class="col-md-12">
            <button class="btn btn-default" type="submit">
              Tìm kiếm
            </button>
            <button class="btn btn-default" type="button" (click)="removeFilter()">
              Xóa lọc
            </button>
          </div>
        </form>
      </div>
  </div>
  <div class="panel-body" style="overflow: auto;">
  <table class="panel-body table-responsive table table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Tên</th>
      <th>Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd" *ngFor="let item of list;let i = index">
      <td style="text-align: center;">{{i + 1}}</td>
      <td>{{item.user_name}}</td>
      <td style="text-align: center;" *ngIf="item.is_online == 0">Offline</td>
      <td style="text-align: center;" *ngIf="item.is_online == 1">Online</td>
    </tr>
    </tbody>
  </table>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
                    [maxSize]="pagination.maxSize" [itemsPerPage]="pagination.itemsPerPage"
                    (pageChanged)="pageChanged($event)" [boundaryLinks]="true" class="pagination-sm"
                    (numPages)="pagination.numPages = $event"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input type="number" class="col-xs-2" [(ngModel)]="nextPage">
          <span class="col-xs-1">/</span>
          <input type="text" class="col-xs-2" [(ngModel)]="pagination.numPages" disabled>
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
