<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="searchForm" (ngSubmit)="load()">
          <div class="form-group col-xs-6">
            <label for="search">Tìm kiếm theo tên</label>
            <input type="text" class="form-control" formControlName="search" id="search" name="search"
                   placeholder="Tìm kiếm theo tên">
          </div>
          <div class="col-xs-12">
            <button class="btn btn-default" type="submit">
              Tìm kiếm
            </button>
          </div>
        </form>
      </div>
      <div class="col-xs-6 col-xs-offset-6">
        <button type="button" title="Tạo mới từ khóa" class="btn btn-primary pull-right" (click)="create()"><i
          class="fa fa-plus"></i> Thêm mới
        </button>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-hover" *ngIf="list.length > 0">
    <thead>
    <tr>
      <th>#</th>
      <th>Tên</th>
      <th>Phân loại widget</th>
      <th style="width: 150px">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd" *ngFor="let item of list;let i = index">
      <td>{{i + 1}}</td>
      <td>
        <h4>
          {{item.name}}
        </h4>
        {{item.description}}
      </td>
      <td><span *ngIf="item.is_system == 0">Hệ thống</span></td>
      <td>
        <button *ngIf="item.is_system == 1" type="button" class="btn btn-default btn-sm" (click)="edit(item,i)">
          <i class="fa fa-pencil-square-o"></i>
        </button>
        <button *ngIf="item.is_system == 1" type="button" class="btn btn-danger btn-sm" mwlConfirmationPopover
                popoverTitle="Xóa"
                popoverMessage="Bạn thực sự muốn xóa?"
                placement="top" confirmText="Yes <i class='fa fa-check'></i>"
                cancelText="No <i class='fa fa-remove'></i>" (confirm)="remove(item,i)">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="list.length == 0" class="text-center">
    <h1>Không tìm thấy kết quả tìm kiếm</h1>
  </div>
  <div class="panel-footer" *ngIf="list.length > 0">
    <div class="row">
      <div class="col-xs-6">
        <pagination [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
                    [maxSize]="pagination.maxSize" [itemsPerPage]="pagination.itemsPerPage"
                    (pageChanged)="pageChanged($event)" [boundaryLinks]="true" class="pagination-sm"
                    (numPages)="pagination.numPages = $event"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input type="number" class="col-xs-2" [(ngModel)]="nextPage">
          <span class="col-xs-1">/</span>
          <input type="text" class="col-xs-2" [(ngModel)]="pagination.numPages" disabled>
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
