<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Xem chi tiết</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <div [innerHTML]="view_html"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="dismiss()">Đóng</button>
</div>
