<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Chỉnh sửa</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="formGroup" novalidate>
        <div class="form-group">
          <label for="name">
            Tên
            <span [hidden]="formGroup.controls['name'].valid" class="alert-text"> *</span>
          </label>
          <input id="name" name="name" class="form-control"
                 placeholder="Nhập tên cột" type="text"
                 formControlName="name" autofocus>
        </div>
        <div class="form-group">
          <label for="description">
            Mô tả
            <span [hidden]="formGroup.controls['description'].valid" class="alert-text"> *</span>
          </label>
          <input id="description" name="description" class="form-control"
                 placeholder="Mô tả trường dữ liệu" type="text"
                 formControlName="description" autofocus>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="edit()">Sửa</button>
  <button type="button" class="btn btn-default" (click)="dismiss()">Hủy bỏ</button>
</div>
