<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6">
        <button type="button" title="Tạo mới từ khóa" class="btn btn-primary pull-right" (click)="createPhoto()"><i
          class="fa fa-plus"></i> Thêm
          mới
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Ảnh</th>
          <th>Copy link ảnh</th>
          <th>Mô tả</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" *ngFor="let item of list;let i = index">
          <td style="text-align: center">{{i + 1}}</td>
          <td>
            <img [src]="item.path" width="100">
          </td>
          <td>
            <button type="button" (click)="copy(item.path)">
              <i class="fa fa-copy"></i>
            </button>
          </td>
          <td>
            <label>{{item.alt}}</label>
          </td>
          <td>
            <button type="button" title="Xóa" class="btn btn-danger btn-sm" mwlConfirmationPopover popoverTitle="Xóa"
                    popoverMessage="Bạn thực sự muốn xóa?"
                    placement="top" confirmText="Yes <i class='fa fa-check'></i>"
                    cancelText="No <i class='fa fa-remove'></i>" (confirm)="remove(item,i)">
              <i class="fa fa-remove"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
                    [maxSize]="pagination.maxSize" [itemsPerPage]="pagination.itemsPerPage"
                    (pageChanged)="pageChanged($event)" [boundaryLinks]="true" class="pagination-sm"
                    (numPages)="pagination.numPages = $event"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input type="number" class="col-xs-2" [(ngModel)]="nextPage">
          <span class="col-xs-1">/</span>
          <input type="text" class="col-xs-2" [(ngModel)]="pagination.numPages" disabled>
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


