<div class="panel panel-default">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Danh sách Câu hỏi thường gặp</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd" *ngFor="let item of list; let i = index">
      <td>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse{{i}}">{{item.question}}</a>
              </h4>
            </div>

            <div id="collapse{{i}}" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row margin-bottom">
                  <div [innerHTML]="item.answer"></div>
                </div>
              </div>
              <a class="text-center" data-toggle="collapse" href="#collapse{{i}}"><label
                class="label label-default">Ẩn</label></a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
