<div class="box box-default">
  <div class="box-header">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="searchForm" (ngSubmit)="load()" class="row" novalidate>
          <div [ngClass]="f['class']" *ngFor="let f of searchControls"
            [ngClass]="{'has-error':!searchForm.controls[f.formControl].valid}">
            <div class="form-group">
              <ng-template [ngIf]="f.type=='input'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <input [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                  class="form-control" [placeholder]="f.placeHolder" [type]="f.typeof">
              </ng-template>
              <ng-template [ngIf]="f.type=='textarea'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <textarea [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl"
                  class="form-control" [placeholder]="f.placeHolder" [rows]="f.config['rows']">
                </textarea>
              </ng-template>
              <ng-template [ngIf]="f.type=='select'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <select [id]="f.formControl" [formControlName]="f.formControl" class="form-control">
                  <option *ngFor="let option of f.data" [value]="option[f.config['primaryKey']]">
                    {{option[f.config['labelKey']]}}</option>
                </select>
              </ng-template>
              <ng-template [ngIf]="f.type=='select2'">
                <label [for]="f.formControl">
                  {{f.label}}
                </label>
                <angular2-multiselect [id]="f.formControl" [formControlName]="f.formControl" [data]="f.data"
                  [settings]="f.config">
                </angular2-multiselect>
              </ng-template>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-default margin-r-5" type="submit" [disabled]="!searchForm.valid">
                Tìm kiếm
              </button>
              <button class="btn btn-default" type="button" (click)="removeFilter()">
                Xóa lọc
              </button>
            </div>
          </div>
          <div class="col-xs-12" style="display: flex; flex-direction: row-reverse;">
            <button type="button" title="Tạo mới" class="btn btn-primary" (click)="createXML()" style="margin-left: 20px;">
              <i class="fa fa-file" aria-hidden="true"></i> Xuất XML
            </button>
            <button type="button" title="Tạo mới" class="btn btn-primary" (click)="create()">
              <i class="fa fa-refresh"></i> Đồng bộ
            </button>
          </div>
        </form>


      </div>
    </div>
  </div>
  <div class="box-body no-padding">
    <table class="table-responsive table table-bordered table-hover">
      <thead>
        <tr>
          <th style="text-align:center; width: 10%;">#</th>
          <th style="text-align:center">Mã sản phẩm</th>
          <th style="text-align:center">Fid</th>
          <th style="text-align:center;width:10%;">Trạng thái</th>
          <th style="text-align:center;width:10%;">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd" *ngFor="let item of list;let i = index">
          <td style="text-align: center;">{{i + 1 + pagination.itemsPerPage * (pagination.currentPage - 1)}}</td>
          <td>{{item.product_id}}</td>
          <td>{{item.fid}}</td>
          <td style="text-align: center;">
              <button type="button" *ngIf="item.enable == 1" class="btn btn-success btn-sm" (click)="onEnableOff(item,i)">Đang bật</button>
              <button type="button" *ngIf="item.enable == 0" class="btn btn-warning btn-sm" (click)="onEnableOn(item,i)">Đang tắt</button>
          </td>
          <td style="text-align: center;">
            <button type="button" class="btn btn-info btn-sm" (click)="edit(item,i)"
              title="Cập nhật số lượng hàng">
              <i class="fa fa-pencil-square-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
          [maxSize]="pagination.maxSize" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
          [boundaryLinks]="true" class="pagination-sm" (numPages)="pagination.numPages = $event"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input type="number" class="col-xs-2" [(ngModel)]="nextPage">
          <span class="col-xs-1">/</span>
          <input type="text" class="col-xs-2" [(ngModel)]="pagination.numPages" disabled>
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
